.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7rem 0;
  background-color: #f7f8f9;
}

.content {
  display: flex;
  justify-content: center;
  width: 1177px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .prices {
    padding: 3rem 1.5rem;
    width: 100%;
  }
  .content div:nth-child(1) {
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .prices {
    padding: var(--padding6) 30px;
  }
  .content div:nth-child(1) {
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) {
  .prices {
    padding: var(--padding6) 0.5rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .prices {
    padding: var(--padding6) 0.5rem;
  }
}
