.prices {
  background-color: var(--lightbg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.content {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  .prices {
    padding-bottom: 3rem;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .content {
    display: flex;
    padding: 0 2rem;
    width: 100%;
    justify-content: center;
  }
  .prices {
    padding-bottom: 3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .content {
    display: flex;
    padding: 0 2rem;
    width: 100%;
    justify-content: center;
  }
  .prices {
    padding-bottom: 3rem;
  }
}
