.title {
  margin: auto;
  font-size: var(--size5);
  text-align: center;
  padding-bottom: 4rem;
}

.title h1 {
  margin-bottom: 0px;
  margin-top: 0;
}

.border {
  border-radius: 10px;
  position: relative;
  width: 100px;
  height: 10px;
  background-color: var(--yellow);
  margin: 5px auto 0 auto;
}

.title h3 {
  margin: auto;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .title {
    width: auto;
  }
  .title h1 {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .title h3 {
    margin-top: 1rem;
  }
}
