.icon span {
  background-color: var(--yellow);
  padding: 12px 1.5rem;
  border-radius: 50vh;
}

.icon a {
  font-family: "Roboto", sans-serif;
  padding: 1rem 1.5rem;
  font-weight: 800;
}

.icon {
  padding: 2rem;
  color: var(--white);
  font-size: 1.4rem;
  bottom: 320px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .icon {
    bottom: 290px;
    font-size: 1.2rem;
  }
  .icon span {
    padding: 10px 1rem;
  }
}
