.price h2 {
  font-family: "Domine", serif;
  margin-bottom: 5px;
  margin-top: 0;
}

.price {
  display: flex;
  flex-direction: column;
  width: 22%;
  padding: 0 1rem;
}

.priceContent h3 {
  margin-bottom: 0;
}

.price p {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
}

.priceContent span {
  display: flex;
}

.border {
  border-radius: 10px;
  position: relative;
  width: 50px;
  height: 5px;
  background-color: var(--yellow);
  margin: 0;
}

.priceContent h3 {
  color: var(--yellow);
}

@media (max-width: 768px) {
  .priceContent {
    flex-direction: column;
  }
  .price {
    width: 100%;
    margin: 0;
  }
  .price p {
    width: 100%;
  }
  .price h2 {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .price p {
    width: 90%;
  }
  .price h3 {
    width: 100%;
  }
  .priceContent {
    padding: 0;
  }
  .price {
    width: 80%;
    margin: 0;
  }
}
