.price h2 {
  font-family: "Domine", serif;
  margin-bottom: 5px;
  margin-top: 0;
}

.price {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 1rem;
}

.price p {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.priceContent span {
  display: flex;
}

.border {
  border-radius: 10px;
  position: relative;
  width: 50px;
  height: 5px;
  background-color: var(--yellow);
  margin: 0;
}

.priceContent h4 {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .priceContent {
    flex-direction: column;
  }
  .price {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .price p {
    width: 100%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .price {
    margin-top: 3rem;
  }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) {
  .price {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}
