.socialMedia ul {
  display: flex;
}

.socialMedia i {
  color: white;
  font-size: var(--size6);
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia span {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: var(--size5);
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .socialMedia {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .socialMedia {
    display: none;
  }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .socialMedia {
    display: none;
  }
}
