.socialMedia ul {
  display: flex;
}

.socialMedia i {
  color: var(--white);
  font-size: var(--size6);
}

.socialMedia {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia span {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: var(--white);
  font-size: var(--size5);
  margin-right: 2rem;
}

.socialMedia i:hover,
.socialMedia i:active,
.socialMedia i.active {
  color: var(--yellow);
}
