.gridContainer {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding: 4rem 0;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem;
}

.gridItem img {
  border-radius: 100vh;
  object-fit: cover;
  object-position: center;
  width: 300px;
  height: 300px;
}

.gridItem h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Domine", serif;
}

.gridItem p {
  width: 70%;
  text-align: center;
}

@media (max-width: 768px) {
  .gridContainer {
    padding: 3rem 0 3rem 0;
  }
  .gridItem img {
    margin: 0;
    border-radius: 10px;
    width: 100%;
  }
  .gridItem p {
    width: 100%;
    margin-top: 10px;
  }
  .gridItem h2 {
    margin-top: 1rem;
  }
}
