.products {
  padding: 7rem 0;
  background-color: #f7f8f9;
}

@media (max-width: 768px) {
  .products {
    padding: 3rem 0;
    width: 100%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .products {
    padding: var(--padding6) 1.5rem;
  }
}
