.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productLink img {
  width: 200px;
  height: 200px;
}

.productLink {
  margin: 4rem 10px 0 10px;
}

@media (max-width: 768px) {
  .product {
    flex-direction: column;
  }

  .productLink {
    margin: 2rem 1rem 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product {
    flex-direction: row;
  }
  .productLink img {
    width: 150px;
    height: 150px;
  }
}
