.footer {
  width: 100%;
  height: auto;
  background-color: var(--blue);
  border-bottom: 5px solid var(--yellow);
}

.content {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
  }
  .content {
    flex-direction: column;
  }
}
