.text {
  color: var(--white);
  padding: 1rem;
}

.text h2 {
  color: var(--white);
  margin-bottom: 5px;
}

.border {
  border-radius: 10px;
  position: relative;
  width: 100px;
  height: 10px;
  background-color: var(--yellow);
  margin: 0;
}

.text i {
  padding: 1rem 0;
  font-size: 1.7rem;
  margin: 0 1rem 0 0;
}

@media (max-width: 768px) {
  .text {
    padding: 0 0 1rem 1rem;
  }
  .text h2 {
    margin-top: 1rem;
  }
}
