.text {
  color: var(--white);
  padding: 1rem;
}

.text h2 {
  color: var(--white);
  margin-bottom: 5px;
}

.text i {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--yellow);

  margin: 0 1rem 0 0;
}

@media (max-width: 768px) {
  .text {
    padding: 0 0 1rem 1rem;
  }
  .text h2 {
    margin-top: 1rem;
  }
}
