.title {
  font-size: var(--size5);
  padding: 1rem;
}

.title h2 {
  color: var(--white);
  margin-bottom: 5px;
}

.title p {
  padding: 1rem 0;
  color: var(--white);
  margin: 0;
  width: 65%;
  font-weight: 600;
}

.border {
  border-radius: 10px;

  position: relative;
  width: 100px;
  height: 10px;
  background-color: var(--yellow);
  margin: 0;
}
