.contact {
  height: auto;
  padding: 7rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.content {
  background-color: var(--white);
  width: auto;
  height: auto;
  width: 1177px;
}

@media (max-width: 768px) {
  .contact {
    padding: 3rem 0;
  }
  .content {
    height: auto;
    width: auto;
  }
}
