.contact {
  height: auto;
  padding: 4rem 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content {
  background-color: var(--white);
  border-bottom: 5px solid var(--blue);
  border-radius: 5px;
  width: 50%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (max-width: 768px) {
  .contact {
    padding: 3rem 0;
  }
  .content {
    height: auto;
    width: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .content {
    width: 90%;
  }
}

@media only device and (orientation: landscape) {
  .content {
    width: 100%;
  }
}
