.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  max-width: 100%;
}

.iframe {
  border-radius: 8px;
}

@media (max-width: 768px) {
  .iframe {
    width: 100%;
  }
  .map {
    margin-left: 0;
    margin-top: 3rem;
  }
}
