.border {
  border-radius: 10px;
  position: relative;
  width: 100px;
  height: 10px;
  background-color: var(--yellow);
  margin: 5px 0 0 0;
  margin: 5px auto 0 auto;
}

.title h1 {
  margin: 0;
}

@media (max-width: 768px) {
  .title h1 {
    text-align: center;
  }
  .border {
    margin: 5px auto 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title h1 {
    text-align: start;
    padding: 0 1rem;
  }
  .border {
    margin: 5px 0 0 1rem;
  }
}
