.portfolio {
  padding: 4rem;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 3rem 0;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .portfolio {
    padding: 3rem 10rem;
  }
}
