.portfolio {
  padding: 7rem 1.5rem;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 3rem 0rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .portfolio {
    padding: var(--padding6) 0;
  }
}
