.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-bottom: 1px solid lightgrey;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    width: 100%;
    padding: 3rem 0;
  }
}
