.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
  width: 1177px;
  margin: auto;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    width: 100%;
    padding: 3rem 0;
  }
}
