.picture img:nth-child(2) {
  width: 400px;
  height: 450px;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
  max-width: 100%;
  z-index: 2;
}

.picture img:nth-child(1) {
  position: absolute;
  left: 30rem;
  margin-top: -2rem;
  z-index: 1;
}

.picture {
  display: flex;
}

@media (max-width: 768px) {
  .picture img:nth-child(2) {
    height: 250px;
  }
  .picture img:nth-child(1) {
    display: none;
  }
  .picture {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .picture img:nth-child(2) {
    height: 400px;
    width: 550px;
  }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) {
  .picture img:nth-child(2) {
    height: 400px;
    width: 550px;
  }
  .picture img:nth-child(1) {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .picture img:nth-child(1) {
    position: absolute;
    left: 6rem;
    margin-top: -2rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .picture img:nth-child(1) {
    display: none;
  }
}
