.picture img {
  width: 350px;
  height: 350px;
  object-position: center;
  object-fit: cover;
  border-radius: 100vh;
}

@media (max-width: 768px) {
  .picture img {
    width: 100%;
    border-radius: 0;
  }
}
