.picture img {
  width: 400px;
  height: 450px;
  object-position: center;
  object-fit: cover;
  max-width: 100%;
}

@media (max-width: 768px) {
  .picture img {
    height: 250px;
    border-radius: 0;
  }
  .picture {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .picture img {
    height: 400px;
    width: 500px;
    border-radius: 0;
  }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}
