.title h1 {
  margin-bottom: 0;
  width: auto;
}

.title h3 {
  margin: 2rem 0 1rem 0;
  font-weight: 500;
}

.border {
  position: relative;
  border-radius: 10px;
  width: 100px;
  height: 10px;
  background-color: var(--yellow);
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .border {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .border {
    margin-left: 0;
    margin-right: 0;
  }
  .title {
    text-align: start;
  }
  .title h1 {
    margin-top: 0;
  }
}
